{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/account.css" %}" rel="stylesheet">
</head>
<body bgcolor="#1A2238">
  <div id="header">
    <span class="logo" style="color:#FF6A3D"><h1>Thriving with Celiacs</h1></span>
    {% if request.user.is_authenticated %}
      <ul class="menu" style="color: #F4DB7D;">
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url "dashboard" %}" style="color: #F4DB7D;">My dashboard</a>
        </li>
      </ul>
      <meta http-equiv="refresh" content="0; URL=http://mysite.com:2000/celiachomepage" />
      
    {% endif %}
    <span class="user" style="color:#FF6A3D">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }},
        <a href="{% url "logout" %}" style="color: #F4DB7D;">Logout</a>
      {% else %}
        <a href="{% url "login" %}" style="color: #F4DB7D;">Log-in</a>
      {% endif %}
    </span>
  </div>
  {% if messages %}
  <ul class="messages" style="color: #F4DB7D;">
    {% for message in messages %}
      <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
      </li>
    {% endfor %}
  </ul>
{% endif %} 
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
