{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/recipe.css" %}" rel="stylesheet">
</head>
<body></body>
{% block content %}
<div id="doc" class="yui-t1">
  <div id="hd">
    <div id="header"><h1>Thriving with Celiacs Disease</h1></div>
  </div>
<div id="bd">
  <div id="yui-main">
    <div class="yui-b">
      <div class="content">
        <h3>Celiac Recipes</h3>
        {% for recipes in recipes %}
        <h2>
          <a href="{{ recipe.get_absolute_url }}">
            {{ recipes.title }}
          </a>
        </h2>
        <p class="date">
          Published {{ recipes.publish }} by {{ recipes.author }}
        </p>
        {{ recipes.body|truncatewords:30|linebreaks }}
      {% endfor %}
    {% endblock %}
      </div>
    </div>
  </div>
    <div class="yui-b">
      <div id="secondary">
        <BR><a href="http://mysite.com:2000/celiacblog/" >Our Blog</a>
          <BR><a href="http://mysite.com:2000/shop" >Our Shop</a>
        <BR><a href="http://mysite.com:2000/tips/">Shopping Tips</a>
          <BR><a href="http://mysite.com:2000/celiachomepage" >Home</a>
      </div>
    </div>
    </div>
    <div id="ft">
    <div id="footer">Disclaimer:  We are not medical professionals we only provide what works for us.  Always consult your phyisician</div>
</div>
</div>

