{% load static %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
<html>
<head>
  <title></title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body></body>
<div id="doc" class="yui-t1">
  <div id="hd">
    <div id="header"><h1>Thriving with Celiacs Disease</h1></div>
  </div>
<div id="bd">
  <div id="yui-main">
    <div class="yui-b">
      <div class="content">
{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|markdown }}
{% endblock %}
	<a href="https://celiacthrive.xyz/celiacblog/">Back</a>
      </div>
    </div>
  </div>
    <div class="yui-b">
      <div id="secondary">
        <BR><a href="https://celiacthrive.xyz/tips/" >Shopping Tips</a>
        <BR><a href="https://celiacthrive.xyz/recipes/">Recipes</a>
          <BR><a href="https://celiacthrive.xyz/shop" >Our Shop</a>
          <BR><a href="https://celiacthrive.xyz/celiachomepage" >Home</a>
      </div>
    </div>
    </div>
    <div id="ft">
      <div id="footer">Disclaimer:  We are not medical professionals we only provide what works for us.  Always consult your phyisician</div>
  </div>
</div>
