{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="doc" class="yui-t1">
    <div id="hd">
      <div id="header"><h1>Thriving with Celiacs Blog</h1></div>
    </div>
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">
          <div class="content">
            <p>This is the Thriving with Celiacs Blog. I've written {% total_posts %} posts so far.</p>
            <h3>Latest posts</h3>
            {% show_latest_posts 3 %}
              <p>
                <a href="{% url "celiacblog:post_feed" %}">Subscribe to my RSS feed</a>
              </p>
          </div>
        </div>
      </div>
      <div class="yui-b">
        
        <div id="secondary">
            <BR><a href="https://celiacthrive.xyz/recipes/">Recipes</a>
            <BR><a href="https://celiacthrive.xyz/tips" >Shopping Tips</a>
            <BR><a href="https://celiacthrive.xyz/shop" >Our Shop</a>
            <BR>  <a href="https://celiacthrive.xyz/celiachomepage/" class="logo">Home</a>
        </div>
      </div>
    </div>
    <div id="ft">
      <div id="footer">Disclaimer:  We are not medical professionals we only provide what works for us.  Always consult your phyisician</div>
    </div>
  </div>
</body>
</html>
