{% load static %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Thriving with Celiacs</title>
 <link href="{% static "css/home.css" %}" rel="stylesheet">
</head>
<body >
  <div id="doc" class="yui-t1">
    <div id="hd">
      <div id="header"><h1>Thriving with Celiacs Disease</h1></div>
    </div>
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">
          <div class="content"><BR> &nbsp; Celiacs Disease is an awful disease that changes lives, however you don't have to just live with it you can &nbsp; Thrive!
                <BR> &nbsp; We intend to share our story from the beginning and all the things we have learned along our journey.  Please join us and we encourage 
                  you to share your story, shoppings tips and recipes.  Join our site so you can experience our weekly blog, shopping tips, and recipes for us and our 
                  members.  You can also browse our shop and look at our original stickers and signs.  
          
          
          </div>
        </div>
      </div>
      <div class="yui-b">
        
        <div id="secondary">
          <BR><a href="http://mysite.com:2000/celiacblog/" >Our Blog</a>
          <BR><a href="http://mysite.com:2000/recipes/">Recipes</a>
            <BR><a href="http://mysite.com:2000/tips" >Shopping Tips</a>
              <BR><a href="http://mysite.com:2000/shop" >Our Shop</a>
                <BR><a href="http://mysite.com:2000/account/registration" >Log Out</a>
        </div>
      </div>
    </div>
    <div id="ft">
      <div id="footer">Disclaimer:  We are not medical professionals we only provide what works for us.  Always consult your phyisician</div>
    </div>
  </div>
</body>
</html>

